html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #6F256F;
}
/* modfied css */

div#logo
{
	margin:8px 0 0 40px;
}


/* media query customize */

@media (max-width: 1000px) {
	
div#logo
{
	margin:2px 0 0 40%;
}	
 
}

@media (max-width: 500px) {

div#logo
{
	margin:1px 0 0 30%;
}	

}


/* end media query customize */

/* bootstrap cutomization */
.navbar-default
{
	background-color:#73357e;
	color:#EFE5F1;
}
.navbar-header
{
background-color:#EFE5F1;
color:#73357e;
}

.navbar-default .navbar-nav > li > a
{
font-weight:bold;
color:#EFE5F1;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
color:#D5BAD9;
}

.dropdown-menu 
{
	background-color:#73357e;
}

.dropdown-menu > li > a
{
font-weight:bold;
color:#EFE5F1;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover
{
color:#D5BAD9;
background-color:inherit;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover
{
background-color: #e7e7e7;
color: #555;
}

div.jumbotron
{
background-color:#EFE5F1;
}
.btn-success
{
background-color:#530036;
border-color:inherit;
}
.btn-success:hover,
.btn-success:focus
{
background-color:#810656;
border-color:#530036;
}


.panel-primary
{
	border-color:#8A458A;
}
.panel-primary > .panel-heading
{
	background-color:#8A458A;
	border-color:#8A458A;
	font-weight:700;

}

.panel-warning
{
	border-color:#D5BAD9;
}
.panel-warning > .panel-heading
{
	background-color:#D5BAD9;
	border-color:#D5BAD9;	
}
.panel-warning > .panel-heading > .panel-title{
	color:#FFF;	
font-weight:700;
font-size:16px;
}

.alert-warning
{
background-color:#EFE5F1;
color:#8A458A;
border-color:#D5BAD9;
}


/* end bootstrap cutomization */